<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

__MAKSIM__  
Data Scientist

_I am interested in data science because it is impressive to identify some patterns from large amounts of data, draw conclusions and use this knowledge for various purposes, depending on the type of data and field of activity._

### The code below divides 200 by 5

In [4]:
print(200/5)

40.0

<ul>
    <li>Point 1</li>
    <li>Point 2</li>
</ul>


<ol>
    <li>List one</li>
    <li>List two</li>
</ol>


<a href="github.com">This is Github Link</a>


<blockquote>This is Blocked Quote</blockquote>

<table>
    <tr>
        <th>Name1</th>
        <th>Name2</th>
        <th>Name3</th>
    </tr>
    <tr>
        <td>Row1</td>
        <td>Row1</td>
        <td>Row1</td>
    </tr>
    <tr>
        <td>Row2</td>
        <td>Row2</td>
        <td>Row2</td>
    </tr>
<table>